.header-bg {
  background-color: var(--bg-branco);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.header-menu a {
  padding: 8px 0px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.botao-menu {
  display: inline-block;
  padding: 0px 32px;
  background: linear-gradient(90deg, #406725, #7abc15);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--bg-branco);
  font: 500 1.05rem/1 "Degular", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.header-menu a:hover {
  color: var(--bg-verde);
}

.botao-menu a:hover {
  color: var(--bg-branco);
}

.botao-menu:hover {
  background: linear-gradient(90deg, #7abc15, #406725);
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

@media (max-width: 960px) {
  .header-menu {
    gap: 25px;
  }
  .header img {
    width: 120px;
    height: auto;
  }

  .header a {
    font-size: 0.75rem;
  }
}

@media (max-width: 800px) {
  .header-menu {
    justify-content: center;
    justify-items: center;
  }

  .mobile {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 695px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .header a {
    font-size: 0.65rem;
  }
  .header-menu {
    gap: 15px;
  }
}

@media (max-width: 700px) {
  .botao-menu {
    display: none;
  }
}
@media (max-width: 325px) {
  .header a {
    font-size: 0.45rem;
  }
  .header-menu {
    gap: 10px;
  }
}
