.introducao-bg {
  background-image: url("/img/bg/home-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.introducao {
  display: grid;
  grid-template-columns: 5fr 6fr;
  gap: 0px 20px;
}

.imagens-hero {
  position: relative;
  width: 100%;
  height: auto;
}

.imagem-hero-normal {
  width: 100%;
  height: 80%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.imagem-mobile {
  display: none;
  margin: 0 auto;
}

.introducao h1 {
  font-family: "Degular";
  font-weight: 600;
  font-size: 3rem;
  max-width: 45ch;
  line-height: 48px;
  color: linear;
  background: -webkit-linear-gradient(0deg, #531f70, #cc8df0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 25px;
}

.botao-hero {
  display: inline-block;
  padding: 12px 35px;
  background: linear-gradient(90deg, #531f70, #cc8df0);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--bg-branco);
  font: 500 1.05rem/1 "Degular", sans-serif;
  letter-spacing: 1.2px;
  max-width: max-content;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 30px;
}

.introducao-frase {
  margin-top: 180px;
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: max-content;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  padding: 7px 15px 7px 15px;
  background: linear-gradient(
    90deg,
    rgba(83, 31, 112, 0.2) 0%,
    rgba(204, 141, 240, 0.2) 100%
  );
  margin-bottom: 25px;
}

.introducao-frase p {
  font: 400 0.855rem/1 "Plus Jakarta Sans", sans-serif;
  color: var(--texto-roxo);
  padding-bottom: 0.102rem;
}

.introducao-frase img {
  width: 18px;
  height: auto;
}

.diferencial-hero {
  margin-top: 560px;
  position: absolute;
  z-index: 2;
}

.diferencial-hero ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  border-top: 2px solid var(--verde-1);
  border-bottom: 2px solid var(--verde-1);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
  margin: 0px 120px;
  padding: 10px 55px 10px 55px;
  background: var(--bg-branco);
}

.diferencial-hero li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  align-items: center;
}

.diferencial-hero p {
  font: 500 0.95rem/1.2 "Degular", sans-serif;
  color: var(--texto-verde);
}

/* ----------------------- Responsivo */
/* ----------------------- Responsivo */

@media (max-width: 1180px) {
  .introducao h1 {
    font-family: "Degular";
    font-weight: 600;
    font-size: 2rem;
    max-width: 55ch;
    line-height: 38px;
    color: linear;
    background: -webkit-linear-gradient(0deg, #531f70, #cc8df0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 15px;
  }
  .introducao-frase {
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: max-content;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background: linear-gradient(
      90deg,
      rgba(83, 31, 112, 0.2) 0%,
      rgba(204, 141, 240, 0.2) 100%
    );
    margin-bottom: 20px;
  }

  .diferencial-hero {
    margin-top: 420px;
    position: absolute;
    z-index: 2;
  }

  .diferencial-hero ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    border-top: 2px solid var(--verde-1);
    border-bottom: 2px solid var(--verde-1);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
    margin: 0px 60px;
    padding: 10px 55px 10px 55px;
    background: var(--bg-branco);
  }

  .diferencial-hero p {
    font: 500 0.75rem/1.2 "Degular", sans-serif;
    color: var(--texto-verde);
  }

  .introducao-frase p {
    font: 400 0.655rem/1.2 "Plus Jakarta Sans", sans-serif;
    color: var(--texto-roxo);
    padding-top: 1px;
  }

  .botao-hero {
    display: inline-block;
    padding: 12px 25px;
    background: linear-gradient(90deg, #531f70, #cc8df0);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: var(--bg-branco);
    font: 500 0.755rem/1 "Degular", sans-serif;
    letter-spacing: 1.2px;
    max-width: max-content;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
  }

  .subtitulo-header {
    font: 400 0.815rem/1.25 "Plus Jakarta Sans", sans-serif;
    letter-spacing: 0.2px;
  }

  .imagens-hero img {
    max-width: 85%;
  }
}

@media (max-width: 1030px) {
  .imagens-hero img {
    max-width: 76%;
  }
  .diferencial-hero {
    margin-top: 310px;
    position: absolute;
    z-index: 2;
  }
}

@media (max-width: 860px) {
  .introducao {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 20px;
  }

  .introducao h1 {
    font-family: "Degular";
    font-weight: 600;
    font-size: 1.85rem;
    max-width: 25ch;
    line-height: 32px;
    color: linear;
    background: -webkit-linear-gradient(0deg, #531f70, #cc8df0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 15px;
    text-align: center;
    justify-self: center;
  }
  .introducao-frase {
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: max-content;
    justify-self: center;
    gap: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background: linear-gradient(
      90deg,
      rgba(83, 31, 112, 0.2) 0%,
      rgba(204, 141, 240, 0.2) 100%
    );
    padding-top: 7px;
    margin-bottom: 20px;
  }

  .introducao-frase p {
    font: 400 0.545rem/1.55 "Plus Jakarta Sans", sans-serif;
    color: var(--texto-roxo);
    padding-top: 1px;
  }

  .subtitulo-header {
    font: 400 0.745rem/1.25 "Plus Jakarta Sans", sans-serif;
    letter-spacing: 0.2px;
    text-align: center;
    justify-self: center;
  }

  .introducao-frase img {
    max-width: 75%;
  }

  .botao-hero {
    display: inline-block;
    padding: 12px 25px;
    background: linear-gradient(90deg, #531f70, #cc8df0);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: var(--bg-branco);
    font: 500 0.755rem/1 "Degular", sans-serif;
    letter-spacing: 1.2px;
    max-width: max-content;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
  }

  .botao-hero-mobile {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .diferencial-hero {
    margin-top: -40px;
    position: relative;

    z-index: 2;
  }

  .diferencial-hero ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    border-top: 2px solid var(--verde-1);
    border-bottom: 2px solid var(--verde-1);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15);
    margin: 0px 10px;
    padding: 10px 10px 10px 10px;
    background: var(--bg-branco);
  }

  .diferencial-hero li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    justify-items: center;
  }

  .diferencial-hero img {
    max-width: 70%;
  }

  .diferencial-hero p {
    font: 500 0.655rem/1.22 "Degular", sans-serif;
    color: var(--texto-verde);
  }

  .imagem-hero-normal {
    display: none;
  }

  .imagem-mobile {
    padding-top: 15px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    width: 265px;
  }
}

@media (max-width: 460px) {
  .diferencial-hero {
    margin-top: -40px;
    position: relative;
    z-index: 2;
  }

  .diferencial-hero ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 30px;
    gap: 5px;
    border-top: 2px solid var(--verde-1);
    border-bottom: 2px solid var(--verde-1);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15);
    margin: 0px 10px;
    padding: 10px 10px 10px 10px;
    background: var(--bg-branco);
    place-self: center;
  }

  .diferencial-hero li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    justify-items: center;
    flex-wrap: nowrap;
  }

  .diferencial-hero img {
    max-width: 70%;
  }

  .diferencial-hero p {
    grid-row: 2;
    font: 500 0.655rem/1.22 "Degular", sans-serif;
    color: var(--texto-verde);
    text-align: center;
    max-width: 20ch;
  }
}
